/*================ my blogs style area ===================== */

body{
    width: 70%;
    margin: auto;
}
.heading{
    font-weight: 800;
    text-align: center;
    color: blue;
    margin-top: 2%;
  }
  .red{
    color: red;
  }
  .blue{
    color: blue;
  }
  .body-4{
    background-color: azure;
    padding: 2%;
    border-radius: 10px;
  }