/*================ my blogs style area ===================== */

body{
    width: 70%;
    margin: auto;
}
.heading{
    font-weight: 800;
    text-align: center;
    color: blue;
    margin-top: 5%;
  }
  .red{
    color: red;
  }